rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // ATTENTION: Règles de développement très permissives.
    // NE PAS UTILISER EN PRODUCTION SANS SÉCURISATION ADEQUATE.
    // Ces règles permettent à n'importe qui de lire et d'écrire dans votre base de données.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
